---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="wrapper post">
  <div class="content">
    <div>
    <h1 class="postTitle">{{ title }}</h1>
    
    {# If tags are present and not hidden, display them #}
    {% if not hideTagsList %}
      <!-- <div class="tags">
        <b>Tags: </b>
        {% for tag in tags %}
          {% if tag != 'post' %}
            <a href="{{ '/tags/' | url }}{{ tag | slug }}">{{ tag }}</a>
            {%- if not loop.last %}, {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div> -->
    {# Post content #}
    <div class="post-content">
      {{ content | safe }}
    </div>

    {# Controls for navigation between posts (can uncomment if needed) #}
    <!-- 
    <div class="controls">
      {% if prevPost.url %}
        <p><strong>Previous post</strong>: 
          <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
        </p>
      {% endif %}
      {% if nextPost.url %}
        <p><strong>Next post</strong>: 
          <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
        </p>
      {% endif %}
    </div> 
    -->
  </div>
</div>
