@import url('https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* TotoroLight:
- '#85898A'
- '#959492'
- '#AC9D96'
- '#A8A6A9'
- '#A1B1C8'
- '#D6C0A9'
- '#DCD3C4'
TotoroMedium:
- '#0A1215'
- '#2D2A25'
- '#583B2B'
- '#534C53'
- '#446590'
- '#AD8152'
- '#BBA78C'
TotoroDark:
- '#05090A'
- '#151412'
- '#2C1D16'
- '#282629'
- '#213148'
- '#564029'
- '#5C5344' */


:root {
    --color-bg: rgb(246, 244, 237);
    --color-text-main: #2D2A25;
    --color-primary: #446590;
    --color-accent: #A1B1C8;
    --wrapper-height: 85vh;
    --image-max-width: 320px;
    --font-family: 'Satoshi', sans-serif;
    --font-family-header: 'Satoshi', sans-serif;
}

* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}


/* Navigation */
.header {
    width: 100%;
    text-align: center;
    color: var(--color-primary);
}

/* Footer */
.footer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem 0;
    /* background-color: var(--color-bg); */
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-primary);
}

.footer a:not(.btn--remix):link,
.footer a:not(.btn--remix):visited {
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 1.1rem;
    color: var(--color-text-main);
    text-decoration: none;
}

.footer .links {
    padding: 0.5rem 1rem 1.5rem;
    white-space: nowrap;
}

.divider {
    padding: 0 1rem;
}

/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: var(--font-family);
    color: var(--color-text-main);
    background-color: var(--color-bg);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    min-height: 100vh; /* Ensure content takes full height */
}

p {
    margin: 0 0 1rem 0;
    line-height: 1.5 !important;
    font-size: 1rem;
}

/* Headings */
h1, h2, h3, h4, h5 {
    margin: 2rem 0 0.8rem;
    font-family: var(--font-family-header);
    font-weight: 600;
    line-height: 1.1;
    color: var(--color-text-main);
}

h1 {
    margin: 1rem 0 1.75rem;
    font-size: 5rem;
    display: inline-flex;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text_small {
    font-size: 0.8rem;
}

/* Lists */
ul > li,
ol > li {
    margin-bottom: 0.75rem;
    line-height: 1.5;
    font-size: 1rem;
}

ul {
    padding: 0 0 0 18px;
    margin: 0;
}

ul.no-bullet {
    list-style-type: none !important;
}

/* Link Styles */
a {
    text-decoration: none;
}

/* Title and Service Styles */
.title,
.service-list,
.connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
}

.service-list {
    padding: 0;
    margin: 0;
}

.service-list ul {
    list-style-type: none;  /* Remove bullet points */
    padding: 0;             /* Remove default padding */
    margin: 0;              /* Remove default margin */
}

.service-list ul.no-bullet > li {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;  /* Add space between items */
}

.service-list ul.no-bullet > li > ul {
    font-size: 1rem;
    margin-top: 0.5rem;     /* Space between nested ul and li */
    padding-left: 0;        /* Remove padding on nested ul */
    text-align: center;      /* Center-align nested list text */
}

.connect {
    font-size: 1rem;
    margin-top: 40px;
    padding: 0 20px;
}

/* Highlight Style */
.highlight {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=E6EAEF);
    padding: 0 5px;
}
/* Intro Text Styles */
.intro-text {
    font-size: 3rem; /* Adjusted for responsiveness */
    margin-bottom: 10px;
}

.intro-description {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Layout: Home */
.home {
    justify-content: center;
}

.illo-container {
    display: flex;
    justify-content: flex-end;
}

/* Post Styles */
.post {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Left-aligns content in the posts page */
    max-width: 900px; /* Control width */
    margin: 2rem auto; /* Centered but with left alignment */
    padding: 0 1rem; /* Optional: add padding for spacing */
}

.postTitle {
    color: var(--color-text-main);
    line-height: 1.1;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.controls {
    margin: 3rem 0 2rem;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .intro-text {
        font-size: 1.8rem;
    }

    .intro-description {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1rem;
    }

    .no-bullet li {
        font-size: 0.9rem;
    }

    .connect a {
        font-size: 0.9rem;
    }
}

/* Footer Copyright */
.footer-copyright {
    text-align: center;
    font-size: 0.85rem;
    color: var(--color-text-main);
}

.footer-copyright a {
    color: var(--color-primary);
    text-decoration: none;
}

.footer-copyright a:hover {
    text-decoration: underline;
}

.dot {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#e5e7eb 2px, transparent 2px);
    background-size: 16px 16px;
  }
